VITE_ADMIN_PIN=937388
VITE_SUPABASE_URL=https://wmnzwrtkasqjbmdyrhzp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indtbnp3cnRrYXNxamJtZHlyaHpwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyNDgxOTQsImV4cCI6MjA5ODgyNDE5NH0.voFf8SAFNvivnYbZxvGvD5-qROeGqU0JVJz44KVDuuM
